.back-btn {
  display: block;
  width: 200px;          
  padding: 10px 20px;
  background: #00000055;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  box-shadow: none;        
  margin: 0 auto;          
  transition: all 0.3s;
}

.back-btn:hover {
  background: #c6c6c6;    
  transform: translateY(-2px);
}   