.App {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url(./assets/background.png);
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;
}

body {
  background-color: whitesmoke;
}